body {
	margin: 0;
	padding: 0;
	background: black;
	overflow: hidden;
}
.nav {
	display: flex;
	bottom: 50px;
	right: 0;
	flex-direction: column;
	position: absolute;
	background-color: rebeccapurple;
	width: 100px;
	height: 200px;
}

.canvas {
	position: relative;
	top: 0;
	background: black;
}

.lil-gui.autoPlace {
	top: auto;
	bottom: 0;
}

.drop {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	bottom: 50px;
	width: 100px;
	height: 100px;
	border-radius: 5%;
	background: rgb(156, 156, 156);
}
